mixin card(data)
	article.card(
		class!=`card--${data.id}`
		data-card-id!=data.id
	)&attributes(attributes)
		.card__main-wrap
			+product(data)

			.card__sale-wrap(
				class=data.isSelected || data.isDisabled ? 'is-hidden' : ''
			)
				p.card__sale-text Чего сидишь? Порадуй котэ,&nbsp;
					a.card__sale-link(href="#")
						span.card__sale-link--border купи
						| .

			.card__description-wrap(
				class!=!data.isSelected ? 'is-hidden' : ''
			)
				p.card__description!= data.description

			.card__stock-wrap(
				class!=!data.isDisabled ? 'is-hidden' : ''
			)
				p.card__stock-text!= data.disabledText
