mixin picture(imageData)
	picture&attributes(attributes)
		source(
			type!="image/webp"
			srcset=`${imageData.src}@1x.webp, ${imageData.src}@2x.webp 2x`
		)
		img(
			class!=imageData.className
			src!=`${imageData.src}@1x.${imageData.type}`
			srcset!=`${imageData.src}@2x.${imageData.type} 2x`
			alt!=imageData.alt
			draggable!=imageData.isDraggable.toString()
		)
