mixin product(data)
	a.product(
		class!=data.isSelected ? 'product--selected' : ''
		class!=data.isDisabled ? 'product--disabled' : ''
		data-product-id!=data.id
		href="#"
		aria-label!=`${data.title.big} ${data.title.small}`
		tabindex!=data.isDisabled ? -1 : 0
	)
		.product__bg-decor
			+svg("card-back").product__bg-svg

		.product__content-border
			.product__content
				.product__content-info
					.product__mark-wrap
						p.product__mark.product__mark--default!= data.mark
						p.product__mark.product__mark--warning!= data.markWarning

					.product__title-wrap
						h3.product__title
							span.product__title--big!= data.title.big
							span.product__title--small!= data.title.small

					.product__list-wrap
						ul.product__list
							each item in data.items
								li.product__item
									if (item.num)
										p.product__item-text
											span.product__item-text--num
												!= item.num
											!= item.text
									else
										p.product__item-text!= item.text

				.product__bg-img-wrap
					+picture({
					  className: "product__bg-img",
					  src: "/images/cards/card-cat",
					  type: "png",
					  alt: "Cat",
					  isDraggable: false,
					})

				.product__weight-wrap
					b.product__weight
						span.product__weight-value!= data.weight.value
						span.product__weight--type!= data.weight.type
